*{
    padding : 0;
    margin: 0 ;
}
body{
    font-family: sans-serif;
}
/*-------------------NAVIGATION BAR-----------------------------------*/
#nav-bar{
    position: sticky;
    top:0;
    z-index: 10;
}
.navbar{
    background-image: linear-gradient(to right,#9a2790,#5f1782);
    padding: 0;
}
.navbar-brand{
    color: #fff;
    font-weight: 600;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    color: #fff;
    font-weight: 600;
    float:right;
}
.navbar-toggler{
    outline: none;
}
/*-------------------CV SECTION-----------------------------------*/
#CV ul li{
    margin : 2px 0;
    font: bold;
    text-align: left;
}
#CV titre{
    text-align: left;
    font-size: larger;
}
#CV img{
    height: 450px;
    position: top;
    padding-top: 0;
}
.titre{
    font-size: 30px;
    font-weight: 600;
    margin-top: 100;
    padding: 30px;
}
.titre::after{
    content: '';
    background: #7b1798;
    height: 5px;
    width: 200px;
    margin-right: auto;
    display: block;
    
}
#footer{
    background-image: linear-gradient(to right,#9a2790,#5f1782);
    color: white;
}
