*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    display:flex;
    justify-content: center;
    background: url('imagess/coding.png') no-repeat;
    align-items:center;
    min-height:100vh;
    background-size: cover;
    background-position: center;
}
.container{
    width:420px;
    background:transparent;
    box-shadow: purple;
    color:#fff;
    border-radius: 20px;
    padding: 30px 40px;
    background: rgba(4, 2, 10, 0.3); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
.container h1{
    font-size: 36px;
    text-align: center;
}
.container .input1{
    position: relative;
    width:100%;
    height:30px;
    margin: 20px;
    color: #fff;
    padding: 8% 8%;
}
.input1 i{
    position:absolute;
    right:100px;
    top:70px;
    transform: translateY(-50%);
    font: size 20px;
}
.input1 input{
    width:89%;
    height:100%;
    background: transparent;
    outline: none;
    border:2px solid rgba(3);
    border-radius: 30px;
    border-color: antiquewhite;
    font: 25px;
    color: #fff;
    padding: 20px 40px 20px 20px;
}
.input1 input::placeholder{
    color:#fff;
}
#liste {
    width:89%;
    height:100%;
    background: transparent;
    outline: none;
    border:2px solid rgba(3);
    border-radius: 30px;
    border-color: antiquewhite;
    font: 25px;
    color: #fff;
    padding: 20px 40px 20px 20px;  
}
#liste option{
    color: black;
}
.container .bt{
    margin: 12px;
    width:100%;
    height:45px;
    background: #fff;
    border:none;
    outline:none;
    border-radius: 40px;
    box-shadow:0 0 10px rgba(0,0,0,1);
    cursor: pointer;
    font-size: 16px;
    color: rgb(27, 21, 28);
    font-weight: 600;
}
.container .bt1{
    margin: 12px;
    width:100%;
    height:45px;
    background: #fff;
    border:none;
    outline:none;
    border-radius: 40px;
    box-shadow:0 0 10px rgba(0,0,0,1);
    cursor: pointer;
    font-size: 16px;
    color: rgb(12, 10, 12);
    font-weight: 600;
}
.container .bt2{
    margin: 12px;
    width:100%;
    height:45px;
    background: #fff;
    border:none;
    outline:none;
    border-radius: 40px;
    box-shadow:0 0 10px rgba(0,0,0,1);
    cursor: pointer;
    font-size: 16px;
    color: rgb(15, 14, 16);
    font-weight: 600;
}
.container .input2{
    padding-left: 18%;
    padding-top: 8%;
    padding-bottom: 7%;
}

